.intro {
    width: 100%;
    height: 40rem;
    background-color: rgba(115, 88, 56, 0.662);
    position: relative;
}

.intro .intro-text {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 1rem;
}